* {
    font-family: Roboto, sans-serif;
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-size: 14px;
    color: #323730;
    box-sizing: border-box;
}

h1{
    margin-bottom: 31px;
    text-align: center;
    font-weight: 700;
    font-size: 37px;
    color: #3F3D56;
}

h2{
    font-size: 16px;
    color: #5A6256;
    text-align: center;
    margin: 0px 42px 28px 42px;
}

.content{
    width: 396px;    
}

.content-index{
    width: 515px;    
}

.content-register h1, .content-register .box-text{
    margin-bottom: 22px;
}

.content-register button{
    border-radius: 5px;
 
}

.content-register button:hover, .content button:hover{
    background-color: #3f3d56e8;;
    transition: 300ms;
    box-shadow: 0px 0px 8px black;
}


.options-reg a{
    text-decoration: underline;
}

label {
    margin-bottom: 6px;
}

.box-text label{
    margin-bottom: 8px;
}

.content input{
    padding: 15px;
    border: 1px solid #ABB3A8;
}

.content ::placeholder{
    color: #ABB3A8;
}


.content a{
    text-decoration: none;
    color: #1DB9E0;
}

.content-register .options a{
    text-decoration: underline;
}

.content-register .options a:hover{
    text-decoration: underline;
}

.content a:hover{
    text-decoration: none;
    color: #0b677e;
}

form{
    margin: 68px 0px 174px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.box-text, .box-bday, .box-coutry{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 39px;
}


.box-bday, .box-coutry{
    margin-bottom: 0px;
}


.box-text + .box-text{
    margin-bottom: 27px;
}

button{
    width: 100%;
    margin-bottom: 32px;
    padding: 14px;
    border: none;
    color: white;
    background-color: #3F3D56;
    font-size: 16px;
}

.options, .area-keepconected, .checkbox-EULA{
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
}



.bday-coutry{
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
}

.content span{
    display: flex;
    justify-content: center;
}


.box-coutry select{ 
    border: 1px solid #ABB3A8;
    color: #ABB3A8;
    height: 49px;
    width: 208px;
}

.box-bday input{
    width: 170px;
       
}


.genre-options{
    display: flex;
    justify-content: space-between;    
}

.genre-options input:hover{
    box-shadow: none;
}

.genre-fem:hover, .genre-masc:hover, .genre-nd:hover{
    
    text-shadow: 0px 0px 2px #ABB3A8;
}

.genre-options label, .options label, .checkbox-EULA label{
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.checkbox-EULA label, .area-keepconected label{    
    margin-left: 24px;
}

.radio-button{
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.check-box{    
    position: absolute; 
    height: 18px;
    width: 18px;
}


.chk input {
    display: none;
}

select:hover, input:hover{
    box-shadow: 0px 0px 4px #ABB3A8;
}



/*Estilização do checkbox*/
/*Adaptado de: https://www.w3schools.com/howto/howto_css_custom_checkbox.asp*/

/*The container */
.container {
    display: block;
    position: relative;
    padding-left: 24px;
    margin-bottom: 12px;
    cursor: pointer;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: white;
    border: 1px solid  #ABB3A8;
}
  
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}
  
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}
  
/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 4px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* Tentativa de responsivar a tela utilizando background para checar se o @media funcionava*/
/* Telas menores que 1000px o @media não funcionou no meu código*/
@media screen and (max-width: 1100px) {

    html {
      background-color: red;
    }
       
}

@media screen and (max-width: 1000px) {

    html {
      background-color: blue;
    }
       
}

@media screen and (max-width: 900px) {

    html {
      background-color: grey;
    }
       
}